.notion-page {
	font-family: "Arial", sans-serif;
	border-radius: 8px;
	background-color: #ffffff;
}

.block-container {
	position: relative;
	/* padding: 10px 0; */
}

.menu-block-options button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 12px;
	padding: 5px 10px;
}

.menu-block-options button:hover {
	background: #f0f0f0;
	border-radius: 4px;
}

.menu-block-options {
	position: absolute;
	background: white;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	z-index: 10;
}

.menu-block-options button {
	display: block;
	width: 100%;
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px;
	text-align: left;
}

.menu-block-options button:hover {
	background: #f0f0f0;
	border-radius: 4px;
}
