.sidebar-container {
  width: 150px;
  height: 100vh;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  font-size: 0.9rem;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Ensure it stays on top of content */
}

.sidebar-container.collapsed {
  width: 50px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #222;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar-link .icon {
  margin-right: 10px;
}

.sidebar-link:hover {
  background-color: #444;
}

.sidebar-container.collapsed .sidebar-link {
  justify-content: center;
}

.sidebar-container.collapsed .icon {
  margin-right: 0;
}

.sidebar-container.collapsed .sidebar-link span {
  display: block; /* Ensure icons are visible */
}

.sidebar-container.collapsed .sidebar-link span + span {
  display: none; /* Hide text in collapsed state */
}
